<div class="row">
  <div class="col-md-6">
    <div ba-panel ba-panel-title="Basic Action" ba-panel-class="with-scroll tree-panel">
      <div class="row">
        <div class="col-sm-4">
          <div class="control-side text-center">
            <div>
              <button class="btn btn-primary" ng-click="vm.addNewNode()">Add</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="vm.collapse()">Collapse All</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="vm.expand()">Expand All</button>
            </div>
            <div>
              <button class="btn btn-primary" ng-click="vm.refresh()">Refresh</button>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div js-tree="vm.basicConfig"
               ng-model="vm.treeData"
               should-apply="vm.applyModelChanges()"
               tree="vm.basicTree"
               tree-events="ready:vm.readyCB">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div ba-panel ba-panel-title="Drag & Drop"
         ba-panel-class="with-scroll tree-panel">
      <div js-tree="vm.dragConfig"
           ng-model="vm.dragData">
      </div>
    </div>
  </div>
</div>