<md-toolbar class="toolbar md-toolbar-tools" layout="row">
  <md-button class="menu md-icon-button md-toolbar-tools" hide-gt-xs ng-click="openSideNav()"
             aria-label="Show Menu">
    <md-icon>menu</md-icon>
  </md-button>
  <h1>Angular Material Boilerplate</h1>
</md-toolbar>

<div flex layout="row">
  <div layout="column">
    <div class="sidenav" flex>
      <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" md-whiteframe="5" flex>

        <md-toolbar layout="column">
          <!-- CLOSE BUTTON - DISPLAYED ON SMALL SCREENS ONLY -->
          <div layout="row" hide-gt-xs>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Menu">
              <md-icon>close</md-icon>
            </md-button>
          </div>

          <!-- USER PROFILE -->
          <div class="sidenav-profile" layout="column" layout-align="start center">
            <!--<img src="assets/images/user-profile.png" class="profile-img">-->
            <div class="profile-details" layout="column" layout-align="start center">
              <span>Joe Bloggs</span>
              <span class="md-body-1">Director</span>
            </div>
          </div>
        </md-toolbar>

        <!-- VERTICAL MENU ITEMS -->
        <md-list class="menu-items">
          <md-list-item ng-repeat="menu in $root.menus">
            <p ng-class="{'selected' : menu.selected === true}"
               ng-click="$root.stateGo(menu.state)">
              {{menu.name}}
            </p>
          </md-list-item>
        </md-list>

      </md-sidenav>
    </div>
  </div>


  <div ui-view flex>
    <i>Loading ....</i>
  </div>
</div>