<div class="widgets">

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div ba-panel
           ba-panel-title="Basic Table"
           ba-panel-class="with-scroll table-panel">
        <div class="horizontal-scroll">
          <table class="table">
            <thead>
            <tr>
              <th>Browser</th>
              <th class="align-right">Visits</th>
              <th class="table-arr"></th>
              <th class="align-right">Downloads</th>
              <th class="table-arr"></th>
              <th class="align-right">Purchases</th>
              <th class="table-arr"></th>
              <th class="align-right">DAU</th>
              <th class="table-arr"></th>
              <th class="align-right">MAU</th>
              <th class="table-arr"></th>
              <th class="align-right">LTV</th>
              <th class="table-arr"></th>
              <th class="align-right">Users %</th>
              <th class="table-arr"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="nowrap">Google Chrome</td>
              <td class="align-right">10,392</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">3,822</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">4,214</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">899</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">7,098</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">178</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">45%</td>
              <td class="table-arr"><i class="icon-up"></i></td>
            </tr>
            <tr>
              <td class="nowrap">Mozilla Firefox</td>
              <td class="align-right">7,873</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">6,003</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">3,031</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">897</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">8,997</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">102</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">28%</td>
              <td class="table-arr"><i class="icon-up"></i></td>
            </tr>
            <tr>
              <td class="nowrap">Internet Explorer</td>
              <td class="align-right">5,890</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">3,492</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">2,102</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">27</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">4,039</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">99</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">17%</td>
              <td class="table-arr"><i class="icon-down"></i></td>
            </tr>
            <tr>
              <td class="nowrap">Safari</td>
              <td class="align-right">4,001</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">2,039</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">1,001</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">104</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">3,983</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">209</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">14%</td>
              <td class="table-arr"><i class="icon-down"></i></td>
            </tr>
            <tr>
              <td class="nowrap">Opera</td>
              <td class="align-right">1,833</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">983</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">83</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">19</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">1,099</td>
              <td class="table-arr"><i class="icon-down"></i></td>
              <td class="align-right">103</td>
              <td class="table-arr"><i class="icon-up"></i></td>
              <td class="align-right">5%</td>
              <td class="table-arr"><i class="icon-up"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-12">
      <div ba-panel
           ba-panel-title="Hover Rows"
           ba-panel-class="with-scroll table-panel">
        <div class="horizontal-scroll">
          <table class="table table-hover">
            <thead>
            <tr class="black-muted-bg">
              <th class="browser-icons"></th>
              <th>Browser</th>
              <th class="align-right">Visits</th>
              <th class="table-arr"></th>
              <th class="align-right">Purchases</th>
              <th class="table-arr"></th>
              <th class="align-right">%</th>
              <th class="table-arr"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.metricsTableData" class="no-top-border">
              <td><img ng-src="{{::( item.image | appImage )}}" width="20" height="20"></td>
              <td>{{item.browser}}</td>
              <td class="align-right">{{item.visits}}</td>
              <td class="table-arr"><i ng-class="{'icon-up': item.isVisitsUp, 'icon-down': !item.isVisitsUp }"></i></td>
              <td class="align-right">{{item.purchases}}</td>
              <td class="table-arr"><i
                  ng-class="{'icon-up': item.isPurchasesUp, 'icon-down': !item.isPurchasesUp }"></i></td>
              <td class="align-right">{{item.percent}}</td>
              <td class="table-arr"><i ng-class="{'icon-up': item.isPercentUp, 'icon-down': !item.isPercentUp }"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div ba-panel
           ba-panel-title="Bordered Table"
           ba-panel-class="with-scroll table-panel">
        <div class="horizontal-scroll">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="browser-icons"></th>
              <th>Browser</th>
              <th class="align-right">Visits</th>
              <th class="align-right">Purchases</th>
              <th class="align-right">%</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.metricsTableData">
              <td><img ng-src="{{::( item.image | appImage )}}" width="20" height="20"></td>
              <td>{{item.browser}}</td>
              <td class="align-right">{{item.visits}}</td>
              <td class="align-right">{{item.purchases}}</td>
              <td class="align-right">{{item.percent}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div ba-panel
           ba-panel-title="Condensed Table"
           ba-panel-class="with-scroll table-panel">
        <div class="horizontal-scroll">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th class="table-id">#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.peopleTableData">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.username}}</td>
              <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
              <td>
                <button class="status-button btn btn-xs btn-{{item.status}}">{{item.status}}</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div ba-panel
           ba-panel-title="Striped Rows"
           ba-panel-class="with-scroll table-panel">
        <div class="vertical-scroll">
          <table class="table table-striped">
            <thead>
            <tr>
              <th class="table-id">#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.smartTableData">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.username}}</td>
              <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
              <td>{{item.age}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div ba-panel
           ba-panel-title="Contextual Table"
           ba-panel-class="with-scroll table-panel">
        <table class="table">
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Age</th>
          </tr>
          <tr class="primary">
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><a class="email-link " ng-href="mailto:mdo@gmail.com" href="mailto:mdo@gmail.com">mdo@gmail.com</a></td>
            <td>28</td>
          </tr>
          <tr class="success">
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><a class="email-link " ng-href="mailto:fat@yandex.ru" href="mailto:fat@yandex.ru">fat@yandex.ru</a></td>
            <td>45</td>
          </tr>
          <tr class="warning">
            <td>3</td>
            <td>Larry</td>
            <td>Bird</td>
            <td>@twitter</td>
            <td><a class="email-link " ng-href="mailto:twitter@outlook.com" href="mailto:twitter@outlook.com">twitter@outlook.com</a>
            </td>
            <td>18</td>
          </tr>
          <tr class="danger">
            <td>4</td>
            <td>John</td>
            <td>Snow</td>
            <td>@snow</td>
            <td><a class="email-link" ng-href="mailto:snow@gmail.com" href="mailto:snow@gmail.com">snow@gmail.com</a>
            </td>
            <td>20</td>
          </tr>
          <tr class="info">
            <td>5</td>
            <td>Jack</td>
            <td>Sparrow</td>
            <td>@jack</td>
            <td><a class="email-link" ng-href="mailto:jack@yandex.ru" href="mailto:jack@yandex.ru">jack@yandex.ru</a>
            </td>
            <td>30</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div ba-panel ba-panel-title="Responsive Table" ba-panel-class="with-scroll table-panel">
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Age</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><a class="email-link " ng-href="mailto:mdo@gmail.com" href="mailto:mdo@gmail.com">mdo@gmail.com</a>
              </td>
              <td>28</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td><a class="email-link " ng-href="mailto:fat@yandex.ru" href="mailto:fat@yandex.ru">fat@yandex.ru</a>
              </td>
              <td>45</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>Bird</td>
              <td>@twitter</td>
              <td><a class="email-link " ng-href="mailto:twitter@outlook.com" href="mailto:twitter@outlook.com">twitter@outlook.com</a>
              </td>
              <td>18</td>
            </tr>
            <tr>
              <td>4</td>
              <td>John</td>
              <td>Snow</td>
              <td>@snow</td>
              <td><a class="email-link" ng-href="mailto:snow@gmail.com" href="mailto:snow@gmail.com">snow@gmail.com</a>
              </td>
              <td>20</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Jack</td>
              <td>Sparrow</td>
              <td>@jack</td>
              <td><a class="email-link" ng-href="mailto:jack@yandex.ru" href="mailto:jack@yandex.ru">jack@yandex.ru</a>
              </td>
              <td>30</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>