<div class="widgets">

  <div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Modals"
         ba-panel-class="with-scroll">
      <div class="modal-buttons clearfix">
        <button type="button" class="btn btn-primary" data-toggle="modal"
                ng-click="vm.open('basicModal', 'md')">
          Default modal
        </button>
        <button type="button" class="btn btn-success" data-toggle="modal"
                ng-click="vm.open('largeModal', 'lg')">
          Large modal
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal"
                ng-click="vm.open('smallModal', 'sm')">
          Small modal
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Message Modals"
         ba-panel-class="with-scroll">
      <div class="modal-buttons same-width clearfix">
        <button type="button" class="btn btn-success" data-toggle="modal"
                ng-click="vm.open('successModal')">
          Success Message
        </button>
        <button type="button" class="btn btn-info" data-toggle="modal"
                ng-click="vm.open('infoModal')">
          Info Message
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal"
                ng-click="vm.open('warningModal')">
          Warning Message
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                ng-click="vm.open('dangerModal')">
          Danger Message
        </button>
      </div>
    </div>
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Notifications"
         ba-panel-class="with-scroll">
      <div class="modal-buttons same-width clearfix">
        <button type="button" class="btn btn-success" ng-click="vm.showSuccessMsg()">Success Notification</button>
        <button type="button" class="btn btn-info" ng-click="vm.showInfoMsg()">Info Notification</button>
        <button type="button" class="btn btn-warning" ng-click="vm.showWarningMsg()">Warning Notification</button>
        <button type="button" class="btn btn-danger" ng-click="vm.showErrorMsg()">Danger Notification</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Progress dialogs"
         ba-panel-class="with-scroll">
      <div class="modal-buttons same-width clearfix">
        <button type="button" class="btn btn-info" data-toggle="modal" ng-click="vm.openProgressDialog()">
          Progress dialog
        </button>
      </div>
    </div>
  </div>

</div>
